---
- name: Create argocd namespace
  kubernetes.core.k8s:
    name: argocd
    kind: Namespace
    state: present
    kubeconfig: "/home/codespace/.kube/config" # Explicit path

- name: Add ArgoCD Helm repo
  kubernetes.core.helm_repository:
    name: argo
    repo_url: "https://argoproj.github.io/argo-helm"

- name: Install ArgoCD via Helm
  kubernetes.core.helm:
    name: argocd
    chart_ref: argo/argo-cd
    release_namespace: argocd
    create_namespace: true
    kubeconfig: "/home/codespace/.kube/config" # Explicit path
    values:
      server:
        service:
          type: LoadBalancer